@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
body {
    background-image: url(./img/formas-papel-psicodelico-espacio-copia.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.myContainer {
    background: rgba(241, 239, 239, 0.26);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.7px);
    -webkit-backdrop-filter: blur(5.7px);
    border: 1px solid rgba(255, 255, 255, 0.08);
    margin: 12%;
    padding: 5%;
    text-align: center;
}

.title {
    font-family: 'Bungee Shade', cursive;
    font-size: 3rem;
}

.table {
    font-size: 2rem; 
}



#corner-button {
    top: 15%; 
    right: 12%; 
    padding: 15px;
    background: rgba(241, 239, 239, 0.26);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.7px);
    -webkit-backdrop-filter: blur(5.7px);
    border: 1px solid rgba(255, 255, 255, 0.08);
    color: white;
    cursor: pointer;
    z-index: 9999;
    font-size: 2rem;
}

button a {
    text-decoration: none;
    color: inherit;
}

.deleteButton {
    top: 15%; 
    right: 25%; 
    padding: 15px;
    background: rgba(241, 239, 239, 0.26);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.7px);
    -webkit-backdrop-filter: blur(5.7px);
    border: 1px solid rgba(255, 255, 255, 0.08);
    color: white;
    cursor: pointer;
    z-index: 9999;
    font-size: 2rem;
}

.stockInput {
    width: 20%;
    border: 0px;
    text-align: center;
    background: rgba(241, 239, 239, 0.26);
}

.form {
    font-size: 2rem;  
}

@media screen and (min-width: 1200px) {
    .table {
      font-size: 1.5rem; /* Reducir el tamaño de fuente de la tabla */
    }
  
    .myContainer {
      margin: 8%; /* Reducir el margen en pantallas grandes */
      padding: 3%; /* Reducir el padding en pantallas grandes */
    }
  
  }
  
  .deleteButton,
#corner-button {
  position: fixed;
  padding: 15px;
  background: rgba(241, 239, 239, 0.26);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.7px);
  -webkit-backdrop-filter: blur(5.7px);
  border: 1px solid rgba(255, 255, 255, 0.08);
  color: white;
  cursor: pointer;
  z-index: 9999;
  font-size: 2rem;
  text-align: center;
}

/* Otros estilos */
.myContainer {
  background: rgba(241, 239, 239, 0.26);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.7px);
  -webkit-backdrop-filter: blur(5.7px);
  border: 1px solid rgba(255, 255, 255, 0.08);
  margin: 12%;
  padding: 5%;
  text-align: center;
}

#corner-button {
  top: 15%;
}

.deleteButton {
  top: 15%;
}
  
  .form label,
  .form input {
      margin-bottom: 10px; /* Añade espacio entre etiquetas e inputs */
  }
  
  .form input[type="submit"] {
      margin-top: 10px; /* Añade margen superior al botón de submit */
  }